.body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(237, 253, 233);
}
.container{
    height: 620px;
    width: 400px;
    background-image: linear-gradient(180deg, #424040, rgb(13, 174, 134));
    border-radius: 20px;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
}

.top-bar input{
    padding: 14px;
    border-radius: 15px;
    width: 250px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 20px;
}

.searchicon{
    
    height: 45px;
    width: 45px;
    background-color: rgb(251, 251, 251);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 30px;
}

.weatherinfo{
    color: white;
    line-height: 100%;
}

.others{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    line-height: 0%;
    margin-top: 55px;
}

@media (max-width:500px) {
    .body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .top-bar input{
        padding: 7px;
        border-radius: 10px;
        width: 200px;
        font-weight: 400;
        color: rgb(0, 0, 0);
        border: none;
        font-size: 15px;
    }
    .searchicon{
    
        height: 35px;
        width: 35px;
        background-color: rgb(251, 251, 251);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 25px;
    }
    .container{
        height: 700px;
        width: 350px;
    }
    .others{
        display: flex;
        flex-direction: column;
    }
    
}
